Repository recurly/react-recurly, pull requests merged in 2020-05, with the labels that each got.

#61 Adds RiskDataCollector component
  docs/1-components/RiskDataCollector.stories.mdx
  docs/1-components/ThreeDSecureAction.stories.mdx
  lib/index.js
  lib/risk-data-collector.js
  package-lock.json
  package.json
  test/risk-data-collector.test.js
  test/support/helpers.js
  types/index.d.ts
  types/test-types.tsx
Labels: dependency, documentation, new feature, tests & build

#69 Updates demo react-recurly dependency
  demo/package-lock.json
  demo/package.json
Labels: demo only, dependency

#70 Fixes checkout pricing demo
  demo/src/checkout-pricing.js
Labels: demo only

#71 Fixes currency symbol character encoding in demo
  demo/public/index.html
Labels: demo only

#73 Fixes type for useCheckoutPricing
  types/index.d.ts
  types/test-types.tsx
Labels: types
